<div class="col-md-10 col-md-offset-1">
<div class="panel panel-info ">
  <div class="panel-heading">
    <h1  class=" text-center">
      Received Complaints
    </h1>
    <br />
    <table class="table">
      <tr>
        <th>Cosumer's Nickname</th>
        <th>Cosumer's Phone number</th>
        <th>Consumer's Email</th>
        <th class="hidd">Abstract</th>
      </tr>
      <% @messages.each do |msg| %>
        <% consumer = msg.consumer %>
        <tr>
          <td><%= consumer.nickname %></td>
          <td><%= consumer.account.phone %></td>
          <td><%= consumer.account.email %></td>
          <td class="full-td"  id='<%= msg.id %>'><%= msg.content %></td>
          <td>
            <a class="shoo btn btn-info notices" id='<%= msg.id %>0' onclick=showw('<%= msg.id %>')>Show Details</a>
            <a class="hidd btn btn-info notices" id='<%= msg.id %>1' onclick=hidee('<%= msg.id %>')> Hide</a>
          </td>
        </tr>
        <% end %>
    </table>
    
  </div>
</div>
</div>
<script type="text/javascript"> 
  function showw(x){
    var td= ".full-td#"+x;
    $(td).show();
    var show = ".shoo#"+x+"0";
    $(show).hide();
    var hidd = ".hidd#"+x+"1";
    $(hidd).show();
  }
  function hidee(x){
    var td= ".full-td#"+x;
    $(td).hide();
    var show = ".shoo#"+x+"0";
    $(show).show();
    var hidd = ".hidd#"+x+"1";
    $(hidd).hide();
  }
</script>
 
<style type="text/css"> 
td.full-td,a.hidd,th.hidd
{
display:none;
}
</style>
