<style type="text/css">
  #carouselimg{height:500px;}
  .bigfont{font-size:51px;}
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%">
  <div class="carousel-inner" role="listbox">
    <div id="carouselimg" class="item active" style:"width:100%">
      <%= image_tag "scroll_image.jpg", style: "width:100%;"%>
      <div class="carousel-caption">
        <h3>Go and Enjoy your Life~</h3>
      </div>
    </div>
    <% count = 1 %>
    <% @scroll_notices.each do |notice| %>
    <div id="carouselimg" class="item" style="width:100%;">
      <%= image_tag "scroll_image"+count.to_s+".jpeg",  style: "width:100%"%>
      <% count += 1 %>
      <div class="carousel-caption">
        <h3><%= notice.title %></h3>
      </div>
    </div>
    <% end %>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <!-- link to other slides -->
    <% (1...count).each do |index| %>
    <li data-target="#carousel-example-generic" data-slide-to=<%= index.to_s %>></li>
    <% end %>
  </ol>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row col-md-10 col-md-offset-1 ">
  <br /><br />
<% @notices.each do |notice| %>
  <div class="col-sm-6">
    <div class="thumbnail" onClick="window.location.href='<%= notice_path(notice) %>'" style="cursor:pointer;height:500px;">
      <%= render partial: 'img', locals: {notice: notice} %>
      <div class="caption">
        <h3><%= notice.title %></h3>
        <p style="position:absolute;bottom:27px;">
          <%= link_to 'Details', notice, class: "btn btn-info notices" %>
          <% if created_by_current_user(notice) %> <%= link_to ' Edit ', edit_notice_path(notice) , class: "btn btn-success" %><% end %>
          <% if created_by_current_user(notice) %><%= link_to 'Destroy', notice, class: "btn btn-warning" , method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<% if current_user && current_user.merchant? %>

<div class="col-sm-6">
  <div class="thumbnail new" onClick="window.location.href='<%= new_notice_path %>'" style="cursor:pointer;height:500px;">
    <%= image_tag '1.png', class: "add-notice", style: "cursor:pointer;width:481px;height:500px;"%>
  </div>
</div>

</div>
<% end %>