<style type="text/css">
  #carouselimg{height:500px;}
  .bigfont{font-size:51px;}
</style>
<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
  <img id="bg" src="../images/bgs7.jpg" width=100% height=100%>
</div>
<div class="col-md-10 col-md-offset-1">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div id="carouselimg" class="item active">
      <%= image_tag "scroll_image.jpeg", width: "1033px", height: "687px" %>
      <div class="carousel-caption">
        <div class="bigfont">To Go and Enjoy your Life~</div>
        <br /><br /><br /><br /><br /><br />
      </div>
    </div>
    <% count = 1 %>
    <% @scroll_notices.each do |notice| %>
    <div id="carouselimg" class="item img-thumbnail">
      <%= image_tag "scroll_image"+count.to_s+".jpeg",  width: "1033px", height: "687px"%>
      <% count += 1 %>
      <div class="carousel-caption">
        <h3><%= notice.title %></h3>
        <h3>Go and Enjoy your Life~</h3>
      </div>
    </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="row col-md-10 col-md-offset-1">
  <br /><br />
<% @notices.each do |notice| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= render partial: 'img', locals: {notice: notice} %>
      <div class="caption">
        <h3><%= notice.title %></h3>
        <p><%= link_to 'Details', notice, class: "btn btn-info" %>
        <% if created_by_current_user(notice) %> <%= link_to ' Edit ', edit_notice_path(notice) , class: "btn btn-success" %><% end %>
        <% if created_by_current_user(notice) %><%= link_to 'Destroy', notice, class: "btn btn-warning" , method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
      </div>
    </div>
  </div>
<% end %>
<% if current_user && current_user.merchant? %>
<div class="col-sm-6 col-md-4">
  <%= link_to 'New Notice', new_notice_path , class: "notices btn btn-lg btn-info"%>
</div>
</div>
<% end %>