<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
      <%= image_tag("mainbg2.jpg", width: "100%", height: "100%") %>
</div>
<br><br><br><br>
<div class="btn-group col-md-10 col-md-offset-1">
  <button type="button" class="btn btn-info btn-lg col-md-11">Choose Service You Want Here~</button>
  <button type="button" class="btn btn-info btn-lg col-md-1 dropdown-toggle" data-toggle="dropdown" >
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu col-md-12" role="menu">
    <li><a href="#">Type1</a></li>
    <li><a href="#">Type2</a></li>
    <li><a href="#">Type3</a></li>
  </ul>
</div>
<br><br><br><br><br><br>
<div class="row">
<% @notices.each do |notice| %>
  <!--<div class="col-md-5 col-md-offset-1 jumbotron">
    <h3><%= notice.title %></h3>
    <p><%= link_to 'Details', notice, type: "button", class: " notices btn-lg btn-info" %>
    <% if created_by_current_user(notice) %> <%= link_to ' Edit ', edit_notice_path(notice) , class: " notices btn btn-lg btn-success" %><% end %>
    <% if created_by_current_user(notice) %><%= link_to 'Destroy', notice, class: " notices btn btn-lg btn-warning" , method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
  </div>-->
  <!--<div class="col-md-5 col-md-offset-1">
    <div class="thumbnail">
      <img src="../images/signup_bg.jpg" alt="...">
      <div class="caption">
        <h3><%= notice.title %></h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>-->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/bgs1.jpg" alt=notice.title>
      <div class="caption">
        <h3><%= notice.title %></h3>
        <p><%= link_to 'Details', notice, class: "btn btn-info" %>
        <% if created_by_current_user(notice) %> <%= link_to ' Edit ', edit_notice_path(notice) , class: "btn btn-success" %><% end %>
        <% if created_by_current_user(notice) %><%= link_to 'Destroy', notice, class: "btn btn-warning" , method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
<% if current_user && current_user.merchant? %>
<div>
  <%= link_to 'New Notice', new_notice_path , class: "notices btn btn-lg btn-info"%>
</div>
<% end %>