<div style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:-5000">
      <%= image_tag("mainbg2.jpg", width: "100%", height: "100%") %>
</div>
<br><br><br><br>
<div class="btn-group col-md-10 col-md-offset-1">
  <button type="button" class="btn btn-info btn-lg col-md-11">Choose Service You Want Here~</button>
  <button type="button" class="btn btn-info btn-lg col-md-1 dropdown-toggle" data-toggle="dropdown" >
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu col-md-12" role="menu">
    <li><a href="#">Type1</a></li>
    <li><a href="#">Type2</a></li>
    <li><a href="#">Type3</a></li>
  </ul>
</div>
<br><br><br><br><br><br>
<% @notices.each do |notice| %>
  <div class="jumbotron col-md-offset-1 col-md-10">
    <div class="col-md-8"><h3><%= notice.title %></h3></div>
    <!--<p>Content : <%= notice.content %></p>-->
    <div class="col-md-4">
    
   <%= link_to 'Details', notice, type: "button", class: " notices btn btn-lg btn-info" %>
    <% if created_by_current_user(notice) %> <%= link_to ' Edit ', edit_notice_path(notice) , class: " notices btn btn-lg btn-success" %><% end %>
    <% if created_by_current_user(notice) %><%= link_to 'Destroy', notice, class: " notices btn btn-lg btn-warning" , method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
    
  </div>
  </div>
<% end %>
<% if current_user && current_user.merchant? %>
<div>
  <%= link_to 'New Notice', new_notice_path , class: "notices col-md-offset-1 btn btn-lg btn-success"%>
</div>
<% end %>