  <br />
  <br />
<div class="jumbotron col-md-6 col-md-offset-3">
  <h2 class="text-center">
    <%= @notice.title %>
  </h2>
  <div class="col-md-offset-1 input-group">
    <h4> &nbsp&nbsp <%= @notice.content %> </h4>
    <div class="author_info col-md-offset-7">
  </div>
</div>
<div>
<% if @notice.notice_image? %>
  <%= image_tag @notice.notice_image_url(:show).to_s ,  class: "center-block"%>
<% end %>
</div>
<!--<p>
  <b>Account:</b>
  <%= @notice.account %>
</p>-->
<br />
<br />
<div class="text-center">
  <h4><strong>Author:</strong><%= @author.email %></h4>
  <h4><strong>Contact:</strong><%= @author.phone %></h4>
  <% if created_by_current_user(@notice) %><%= link_to 'Edit', edit_notice_path(@notice) ,class:"notices btn btn-lg btn-info" %><% end %>
  <%= link_to 'Back', notices_path , class:"notices btn btn-lg btn-info" %>
</div>

<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<%= javascript_tag do %>
bShare.addEntry({
    title: "<%= @notice.title %>",
    summary: "<%= @notice.content %>",
});
<% end %>
</div>