<p id="notice"><%= notice %></p>
<p>Nichname: <%= @consumer.nickname %></p>
<p>Gender: <%= @consumer.gender %></p>
<p>Email: <%= @account.email %></p>
<p>Phone: <%= @account.phone %></p>
<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', notices_path %>
