<div> 
<%= form_for @search,  :url => search_path ,:method => :get do |f| %>
</div>
<div class="pull-right col-md-3">
<ul class="list-group">
  <% f.checks :store_type_in,
    [['Barbershop', 'babershop'], ['Cafe', 'cafe'], ['Fruit Shop', 'fruitshop'],['Stationer', 'stationer'],['Restaurant', 'restaurant'],['Supermarket', 'market'],['Others','others']], :class => 'checkboxy' do |check| %>
    <li class="list-group-item">
      <%= check.box %>
      <%= check.label %>
    </li>
  <% end %>
</ul>
<ul class="list-group">
<li class="list-group-item"><%= f.label :store_name_contains %></li>
<li class="list-group-item"><%= f.text_field :store_name_contains, class:"col-md-10"%></li>
<li class="list-group-item"><%= sort_link @search, :store_name ,"Sort by Name" %></li>
</ul>
<li class="list-group-item"><%= f.submit 'Search', class: 'btn btn-info btn-block' %></li>
</div>
<% end %>

<div class="container col-md-9">
<% @merchants.each do |merchant| %>
  <div class="col-sm-6 col-md-4">
    <% merchant_path = 'merchant.'+merchant.id.to_s %>
    <div class="thumbnail" onClick="window.location.href='<%= merchant_path %>'" style="cursor:pointer">
      <% if merchant.store_image? %>
        <%= image_tag merchant.store_image_url(:search).to_s %>
      <% else %>
        <%= image_tag "../images/bgs1.jpg" %>
      <% end %>
      <div class="caption">
        <h4 class="text-center"><%= link_to merchant.store_name , merchant, class: "no-decor"%></h4>
      </div>
    </div>
  </div>
<% end %>
