      <div style="position:fixed; left:0; top:0; width:100%; height:100%">
        <img src="../images/signup_bg.jpg" width=100% height=100%>
      </div>
        <div class="col-md-6 col-md-offset-5"><% @user.errors.full_messages.each do |msg| %>
           <p><%= msg %></p>
        <% end %>
        </div>
      <div class="col-md-3 has-success col-md-offset-5">
        <%= form_for(@user) do |f| %>
        <div class="form-group">
          <label for="exampleInputEmail1" > Email address</label>
            <%= f.text_field :email, autofocus: true, placeholder: "Email" ,
            class: "form-control", id: "exampleInputEmail1" %>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone1" > Phone number</label>
            <%= f.text_field :phone, placeholder: "Phone", class:"form-control", id:"exampleInputPhone1"%>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" style="opacity:.9">Password</label>
            <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class:"form-control", id: "exampleInputPassword1"%>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" style="opacity:.9">Password Confirmation:</label>
            <%= f.password_field :password_confirmation, placeholde: "Repeat Password", class:"form-control", id: "exampleInputPassword1"%>
        </div>

        <div class=" form-group">
        <label for="selectUserType">Choose Your User Type</label>
          <%= f.select :user_type, [['I am a merchant!', 'merchant'], ['I am a consumer!', 'consumer']] , {}, {class: "form-control", id: "selectUserType"}%>
        </div>
        <div>
          <br>
            <%= f.submit "Sign Up" , class: "btn btn-block btn-success"%>
        </div>
        <% end %>
      </div>