<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Sign Up</title>

    <!-- Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div style="position:fixed; left:0; top:0; width:100%; height:100%">
        <img src="../images/signup_bg.jpg" width=100% height=100%>
      </div>
        <br><br><br><br>
        <div class="col-md-6 col-md-offset-5"><% @user.errors.full_messages.each do |msg| %>
           <p><%= msg %></p>
        <% end %>
        </div>
      <div class="col-md-3 has-success col-md-offset-5">
        <%= form_for(@user) do |f| %>
        <div class="form-group">
          <label for="exampleInputEmail1" > Email address</label>
            <%= f.text_field :email, autofocus: true, placeholder: "Email" ,
            class: "form-control", id: "exampleInputEmail1" %>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone1" > Phone number</label>
            <%= f.text_field :phone, placeholder: "Phone", class:"form-control", id:"exampleInputPhone1"%>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" style="opacity:.9">Password</label>
            <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class:"form-control", id: "exampleInputPassword1"%>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" style="opacity:.9">Password Confirmation:</label>
            <%= f.password_field :password_confirmation, placeholde: "Repeat Password", class:"form-control", id: "exampleInputPassword1"%>
        </div>

        <div class=" form-group">
        <label for="selectUserType">Choose Your User Type</label>
          <%= f.select :user_type, [['I am a merchant!', 'merchant'], ['I am a consumer!', 'consumer']] , {}, {class: "form-control", id: "selectUserType"}%>
        </div>
        <div>
          <br>
            <%= f.submit "Sign Up" , class: "btn btn-block btn-success"%>
        </div>
        <% end %>
      </div>
    <!--<div class="jumbotron"> This is button model.
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>