<h1>Listing cards</h1>

<table>
  <tr>
    <th>Cosumer's Phone number</th>
    <th>Consumer's Email</th>
    <th>Level</th>
    <th>Balance</th>
    <th>Points</th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.consumer.account.phone if card.consumer %></td>
    <td><%= card.consumer.account.email if card.consumer %></td>
    <td><%= card.level %></td>
    <td><%= card.balance %></td>
    <td><%= card.points %></td>
    <td><%= link_to 'Pay/Recharge', card %></td>
    <td><%= link_to 'Cancel', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
