<div class="col-md-10 col-md-offset-1">
<div class="panel panel-info ">
  <div class="panel-heading">
    <h1  class=" text-center">
      Cards Lists
    </h1>
    <br />
    <table class="table">
      <tr>
        <th>Cosumer's Phone number</th>
        <th>Consumer's Email</th>
        <th>Level</th>
        <th>Balance</th>
        <th>Points</th>
        <th>Operations</th>
      </tr>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.consumer.account.phone if card.consumer %></td>
          <td><%= card.consumer.account.email if card.consumer %></td>
          <td><%= card.level %></td>
          <td><%= card.balance %></td>
          <td><%= card.points %></td>
          <td>
            <%= link_to 'Pay/Recharge', card , class: "btn btn-warning"%>
            <%= link_to 'Cancel', card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
          </td>
        </tr>
      <% end %>
    </table>
      <%= link_to 'New Card', new_card_path,class: "btn btn-block btn-info"%>
      <br />
  </div>
</div>
</div>