<p id="notice"><%= notice %></p>

<p>
  <b>Level:</b>
  <%= @card.level %>
</p>

<p>
  <b>Balance:</b>
  <%= @card.balance %>
</p>

<p>
  <b>Points:</b>
  <%= @card.points %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
