<%= form_for([@card, @card.fees.build]) do |f| %>
	<p>
		<%= f.label :fee_type %>
		<%= f.select :fee_type, [['Pay', false], ['Recharge', true]] %>
	</p>
	<p>
		<%= f.label :amount %>
		<%= f.text_field :amount %>
	</p>
	<p>
		<%= f.submit "Submit"%>
	</p>
<% end %>