<!DOCTYPE html>
<html>
<head>
  <title>CardsUnion</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "extention.css", :media => "all" %>
  <%= stylesheet_link_tag "twitter-typeahead.css", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min.css", :media => "all" %>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="/jquery/jquery-1.11.1.min.js"></script>
  <%= stylesheet_link_tag "bootstrap-theme.min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap-typeahead" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>
  <%= yield :map_script %>
  <%= csrf_meta_tags %>
</head>
<body>
<button type="button" style="position:fixed">
  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
</button>
<nav class="nav nav-pills navbar-fixed-top navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid navtobehide">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Cards Union</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Notice Board", notices_path %></li>
        <li><%= link_to "My Cards", cards_path %></li>
         <% if current_user != nil %>
          <% if current_user.user_type == 'Consumer'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "My favorite",show_follower_path  %></li>
          <%end%>
          <% if current_user.user_type == 'Merchant'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "People interest",show_follower_path  %></li>
          <%end%>
        <% end %>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
          <ul class="dropdown-menu">
            <% merchants_path = search_path.to_s %>
            <% notices_path = searchnotice_path.to_s %>
            <li><a href= <%= merchants_path %> >Merchants</a></li>
            <li role="separator" class="divider"></li>
            <li><a href= <%= notices_path %> >Notices</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <% if current_user %>
            <% if current_user_type == "Consumer" %>
              <% if (current_user.user==nil) or (current_user.user.nickname==nil) %> 
        	    <li><%= link_to current_user.email, consumer_path %></li>
              <% else %>
              <li><%= link_to current_user.user.nickname, consumer_path %></li>
              <% end %>
            <% else %>
              <% if (current_user.user==nil) or (current_user.user.store_name==nil) %> 
              <li><%= link_to current_user.email, merchant_path %></li>
              <% else %>
              <li><%= link_to current_user.user.store_name,merchant_path %></li>
              <% end %>
            <% end %>
        	<li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
        	<li><%= link_to "Log in", login_path %></li>
        	<li><%= link_to "Sign up", signup_path %></li>
        <% end %>
        <!--<button type="button" class="navbar-btn btn btn-default btn-xs">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        </button>-->
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br /><br />
<p id="notice" class="text-center"><%= notice %></p>
<%= yield %>

</body>
</html>

<%= yield :map_code %>
