<!DOCTYPE html>
<html>
<head>
  <title>CardsUnion</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "extention.css", :media => "all" %>
  <%= stylesheet_link_tag "twitter-typeahead.css", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min.css", :media => "all" %>
  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "bootstrap-theme.min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "typeahead.min.js" %>
  <%= yield :map_script %>
  <%= csrf_meta_tags %>
   <style type="text/css"> 
      html, body{
        
        height: 100%;
      }
      body{
      height: 100%;
      background:-moz-linear-gradient(white,silver);
      background:-ms-linear-gradient(white,silver);
      background:-o-linear-gradient(white,silver);
      background:-webkit-linear-gradient(white,silver);
      background:linear-gradient(0,white,silver);
      background-size: cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>
<body class="container-fluid" style="padding:0">
<nav class="nav navbar-fixed-top navbar-default hidden-xs" role="navigation" >
  <div class="container-fluid navtobehide">
    <div class="navbar-header">
      <a class="navbar-brand no-decor" href="/">Cards Union</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Notice Board", notices_path , class: "notices"%></li>
        <li><%= link_to "My Cards", cards_path , class: "notices" %></li>
         <% if current_user != nil %>
          <% if current_user.user_type == 'Consumer'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "My favorite",show_follower_path ,class: "notices btn no-decor"%></li>
          <% elsif current_user.user_type == 'Merchant'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "People interest",show_follower_path, class: "notices btn no-decor"%></li>
            <li><%= link_to "Received Complaints", merchant_messages_path(current_user.user), class: "notices btn no-decor"%></li>
          <% end %>
        <% end %>
        <li><a href="#" class="dropdown-toggle notices" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
          <ul class="dropdown-menu">
            <% merchants_path = search_path.to_s %>
            <% notices_path = searchnotice_path.to_s %>
            <li><a class = "no-decor" href= <%= merchants_path %> >Merchants</a></li>
            <li role="separator" class="divider"></li>
            <li><a class = "no-decor" href= <%= notices_path %> >Notices</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <% if current_user %>
            <% if current_user_type == "Consumer" %>
              <% if (current_user.user==nil) or (current_user.user.nickname==nil) or (current_user.user.nickname=="")%> 
        	    <li><%= link_to current_user.email, consumer_path , class: "notices" %></li>
              <% else %>
              <li><%= link_to current_user.user.nickname, consumer_path , class: "notices" %></li>
              <% end %>
            <% else %>
              <% if (current_user.user==nil) or (current_user.user.store_name==nil) or (current_user.user.store_name=="")%> 
              <li><%= link_to current_user.email, merchant_path , class: "notices"%></li>
              <% else %>
              <li><%= link_to current_user.user.store_name,merchant_path , class: "notices"%></li>
              <% end %>
            <% end %>
        	<li><%= link_to "Log out", logout_path, method: "delete" , class: "notices"%></li>
        <% else %>
        	<li><%= link_to "Log in", login_path  , class: "notices" %></li>
        	<li><%= link_to "Sign up", signup_path , class: "notices" %></li>
        <% end %>
        <!--<button type="button" class="navbar-btn btn btn-default btn-xs">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        </button>-->
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-fixed-top navbar-default visible-xs">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand no-decor" href="/">
        Cards Union
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav text-center">
        <li><%= link_to "Notice Board", notices_path , class: "btn notices"%></li>
        <li><%= link_to "My Cards", cards_path , class: "notices btn" %></li>
         <% if current_user != nil %>
          <% if current_user.user_type == 'Consumer'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "My favorite",show_follower_path, class: "notices btn no-decor" %></li>
          <%end%>
          <% if current_user.user_type == 'Merchant'%>
            <% show_follower_path = '/showfollow' %>
            <li><%= link_to "People interest",show_follower_path, class: "notices btn no-decor"  %></li>
            <li><%= link_to "Received Complaints", merchant_messages_path(current_user.user), class: "notices btn no-decor"%></li>
          <%end%>
        <% end %>
        <li><a href="#" class="dropdown-toggle notices" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
          <ul class="dropdown-menu">
            <% merchants_path = search_path.to_s %>
            <% notices_path = searchnotice_path.to_s %>
            <li><a class = "no-decor btn text-center" href= <%= merchants_path %> >Merchants</a></li>
            <li role="separator" class="divider"></li>
            <li><a class = "no-decor btn text-center" href= <%= notices_path %> >Notices</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <ul class="nav navbar-nav text-center">
        <% if current_user %>
            <% if current_user_type == "Consumer" %>
              <% if (current_user.user==nil) or (current_user.user.nickname==nil) or (current_user.user.nickname=="")%> 
              <li><%= link_to current_user.email, consumer_path , class: "btn notices" %></li>
              <% else %>
              <li><%= link_to current_user.user.nickname, consumer_path , class: "btn notices" %></li>
              <% end %>
            <% else %>
              <% if (current_user.user==nil) or (current_user.user.store_name==nil) or (current_user.user.store_name=="")%> 
              <li><%= link_to current_user.email, merchant_path , class: "btn notices"%></li>
              <% else %>
              <li><%= link_to current_user.user.store_name,merchant_path , class: "btn notices"%></li>
              <% end %>
            <% end %>
          <li><%= link_to "Log out", logout_path, method: "delete" , class: "notices"%></li>
        <% else %>
          <li><%= link_to "Log in", login_path  , class: "notices" %></li>
          <li><%= link_to "Sign up", signup_path , class: "notices" %></li>
        <% end %>
        <!--<button type="button" class="navbar-btn btn btn-default btn-xs">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        </button>-->
      </ul>
      </ul>
    </div>
  </div>
</nav>

<% if !notice.nil? %>
<div class="alert alert-info alert-dismissible col-md-4 col-md-offset-4 " role="alert" style="margin-top:55px">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <!-- notice here -->
  <p class="text-center"><%= notice %></p>
</div>

<% end %>
<div class="yield">
  <%= yield %>
</div>
</body>
</html>

<%= yield :map_code %>
