      <div style="position:fixed; left:0; top:0; width:100%; height:100%">
        <img src="../images/signup_bg.jpg" width=100% height=100%>
      </div>
      <br>
      <div class="col-md-3 has-success col-md-offset-5">
        <%= form_for(@account) do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email Address" %>
            <%= f.object.errors[:email].to_sentence if f.object.errors[:email] %>
            <%= f.text_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Phone Number" %>
           <%= f.object.errors[:phone].to_sentence if f.object.errors[:phone] %>
            <%= f.text_field :phone, placeholder: "Phone", class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password, "Password" %>
          <%= f.object.errors[:password].to_sentence if f.object.errors[:password] %>
            <%= f.password_field :password, placeholder: "Password", class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Password Condirmation" %>
           <%= f.object.errors[:password_confirmation].to_sentence if f.object.errors[:password_confirmation] %>
            <%= f.password_field :password_confirmation, placeholder: "Repeat Password", class:"form-control"%>
        </div>

        <div class=" form-group">
          <%= f.label :user_type, "Choose User Type" %>
          <%= f.select :user_type, [['I am a merchant!', 'Merchant'], ['I am a consumer!', 'Consumer']] , {}, {class: "form-control"}%>
        </div >
        <div class='dl-horizontal' >
          <label data-toggle="modal" data-target="#myModal"> I Agree On <u class='protocol'>User Protocal</u>
            </label>
          <script>
            function reset_button()
            {
            if(test.checked==true)
              {
                $("#sign_submit").removeAttr("disabled");
              }
            else{
              $("#sign_submit").attr("disabled","readonly");
            }
            }
          </script>
            <%= f.check_box :protocol, {id: 'test', onclick: "reset_button()"}, 1%>
        </div>
        <div>
          <br>
            <%= f.submit "Sign Up" , disabled: "readonly", id: "sign_submit", class: "btn btn-block btn-success", onmouseover: "check_protocol()" %>
        </div>
        <% end %>
      </div>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header  text-center">
            <h4 class="modal-title" id="myModalLabel">User Protocal</h4>
          </div>
          <div class="modal-body">
            <p>1.It means that you agree with this protocal if yo login our website...</p>
            <p>2.You agree that we have the rights to...</p>
            <p>3.You allow us to store and use your personal information for our service...</p>
            <p>4.We will protect your personal information at all circumstances...</p>
          </div>
          <div class="modal-footer">
            <div class="container-fluid">
              <button type="button" class="btn btn-warning col-md-4 col-md-offset-4" data-dismiss="modal">close</button>
          </div>
          </div>
        </div>
      </div>
    </div>